[Unit]
Description=The never-ending stream generator for BDC
After=network.target

[Service]
WorkingDirectory=%h
ExecStart=%h/.cargo/bin/bdc-stream-server %h/streamer-three-test.toml
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

