[Unit]
Description=The never-ending stream generator for BDC
After=network.target

[Service]
WorkingDirectory=%h
ExecStart=%h/.cargo/bin/bdc-stream-server 8888 0.1

[Install]
WantedBy=default.target

